.about {
  padding: 28px !important;
  &__title {
    color: #019852;
    margin-top: 12px;
  }
  &__list {
    padding-left: 30px;
    li {
      list-style: disc;
      margin-top: 8px;
      line-height: 150%;
      color: rgba(28, 32, 53, 0.72);
    }
  }
  &-list {
    &__title {
      font-weight: 600;
    }
  }
}
