.form-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: $white-color;
  border-radius: 24px;
  padding: 20px;
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.form-title {
  font-weight: 500;
  line-height: 19px;
}

.form-item {
  display: flex;
  flex-direction: column;
  &__label {
    line-height: 22px;
    margin-bottom: 8px;
    color: $black64;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    &-col {
      display: flex;
      flex-direction: column;
    }
  }
  &__input {
    width: 100%;
    padding: 10px 16px;
    line-height: 20px;
    border: 1px solid $primary-color;
    border-radius: 8px;
    box-shadow: 0px 4px 0px 4px rgba(1, 152, 82, .14);
    &::placeholder {
      color: $black40;
    }
    &--weight {
      width: 100%;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
    }
    &--recom {
      border-radius: 50px;
    }
  }
  &__textarea {
    width: 100%!important;
  }
  &__addition {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    max-width: 220px;
    margin-left: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 0px 4px rgb(1 152 82 / 14%);
    overflow: hidden;
  }
  &__unit {
    display: inline-flex;
    width: 102px;
    color: $black64;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }
  &__select {
    appearance: none;
    background: url('../../assets/images/arrow-select.svg') no-repeat right;
    background-position-x: calc(100% - 16px);
  }
  &__img-block {
    display: flex;
  }
  &__img-wrap {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 16px;
    background-color: $background-color;
    button {
      grid-template-columns: 1fr;
      grid-gap: 0;
      width: 100%;
      margin-top: 8px;
      color: #e45c5c;
      background-color: transparent;
      border-radius: 8px;
    }
  }
  &__img-prev {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--row {
    align-items: center;
    flex-direction: row;
    label {
      width: 106px;
      margin-bottom: 0;
      margin-right: 24px;
    }
    input {
      width: 100px;
    }
  }
}

.form-footer {
  padding-top: 6px;
}

.recipe-products {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;
  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px dashed #e2e2e2;
    &:last-child {
      border-bottom: 1px dashed #e2e2e2;
    }

    span {
      width: 342px;
      color: $black64;
    }
  }
  &__delete {
    width: auto!important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #e45c5c; 
    cursor: pointer;
  }
}