.products {
  padding: 16px;
  background-color: $white-color;
  border-radius: 16px;
  &-diary {
    margin-top: 24px;
    &__title {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      line-height: 133%;
      color: #1C2035;
      margin-bottom: 20px;
      span {
        font-size: inherit;
        color: $primary-color;
      }
    }
  }
}

.shop {
  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  &-item {
    &__title {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      line-height: 133%;
      color: #1C2035;
      margin-bottom: 8px;
    }
  }
  &-products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  &-product {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    &__change {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      cursor: pointer;
    }
    &__check {
      background-color: $white-color;
      border: 2px solid rgba(1, 152, 82, .3);
      transition: all .2 ease-out;
      &:hover {
        border-color: $primary-color;
        transition: all .2 ease-out;
      }
    }
    &__done {
      background-color: $primary-color;
      transition: all .2 ease-out;
      img {
        width: 20px;
        height: 20px;
      }
      &:hover {
        opacity: .8;
        transition: all .2 ease-out;
      }
    }
    &__name {
      margin-left: 12px;
    }
    &__line {
      flex: 1 1;
      margin-left: 12px;
      margin-right: 12px;
      border: 1px dashed rgba(28, 32, 53, .1);
    }
  }
}