.recipe {
  position: relative;
  padding: 16px 8px;
  background-color: $white-color;
  border-radius: 24px;
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin-left: -8px;
    margin-right: -8px;
    &__wrap {
      margin-top: 20px;
    }
    &__title {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      line-height: 133%;
      color: $black;
      margin-bottom: 20px;
    }
  }
  &__title {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: color .2s ease-out;
    &:hover {
      color: $primary-color;
      transition: color .2s ease-out;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.nutri-value {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 13.75px;
    max-width: 322px;
    width: 100%;
    padding: 8px 12px;
    background-color: $background-color;
    border-radius: 16px;
    margin-bottom: 8px;
  }
  &__info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
    align-items: center;
    img {
      width: 16px;
      height: 16px;
    }
  }
  &__name {
    line-height: 22px;
  }
  &__sum {
    line-height: 22px;
  }
  &--one {
    flex-direction: row;
    margin-left: 12px;
    .nutri-value__info {
      margin-right: 2px;
    }
  }
}

.recipe-uses {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-gap: 12px;
  align-items: center;
  margin-top: 4px;
  li {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px; 
    input {
      width: 16px;
      height: 16px;
      border: 1px solid $primary-color;
    }
    label {
      font-weight: 500;
      color: $black64;
      line-height: 1;
    }
  }
}