@import 'fonts';
@import 'variables';
@import 'react-tab';
@import 'libs/normalize';
@import 'components/all';

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'SFProRounded', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbf1e7;
  color: $black;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  &__container {
    margin-bottom: auto;
  }
}

.df {
  display: flex;
  align-items: center; 
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 970px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.filter {
  background-color: $white-color;
  padding: 16px;
  padding-bottom: 12px;
  border-radius: 24px;
  &-grid {
    position: absolute;
    top: 0;
    right: -256px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    max-width: 240px;
    width: 100%;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -4px;
    margin-left: -4px;
    div {
      margin: 4px;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  &__recipe-uses {
    margin-left: -4px;
    margin-right: -4px;

    li {
      margin: 4px;
      label {
        padding: 6px 12px;
        transition: all .2s ease-out;
      }
    }
  }
  &-calories {
    display: grid;
    grid-template-columns: 1fr 16px 1fr;
    grid-gap: 8px;
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      color: $black64;
    }
  }
}

.eating-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 12px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 32px;

  input {
    display: none;
  }
  &__item {
    position: relative;
    padding-bottom: 5px;
    font-weight: 500;
    line-height: 138%;
    color: $black40;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
    }
    &--active {
      color: $black;
      &::after {
        background-color: $primary-color;
      }
    }
  }
}

.diary {
  &-result {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    width: 100%;
    margin-bottom: 32px;
    span {
      font-size: 20px;
      line-height: 110%;
      color: $black72;
    }
    &__item {
      text-align: center;
    }
    &__item-sum {
      color: $primary-color!important;
    }
  }
}

.products {
  &-list {
    display: flex;
    flex-direction: column;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $background-color;
    }
  }
}

.lazy-preload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #000;
}
